<div class="main-outer-div">
    <div class="main-inner-div">
      <div class="container-fluid">
        <div class="container" style="padding: 0px;">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light navbar-1 ">
                    <a class="navbar-brand" href="#">Coffe Shop</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="fa fa-ellipsis-v" style="color:#a16029!important;"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav" style="float:right;">
                        <a class="dropdown" href="#">Home </a>
                        <a class="dropdown" href="#">Features</a>
                        <a class="dropdown" href="#">Pricing</a>
                        <a class="dropdown" href="#">Disabled</a>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
</div>

<div class="container-fluid" style="padding: 0px;margin-top: 7px;">
        <div class="container" style="padding: 0px">
            <div class="row" style="width: 100%;" >
                <div class="col-xs-12 col-sm-12" style="padding:0px">
                    <img src="assets/img/get-started/8.jpg" alt="" class="img img-responsive">
                       <div  class="text">
                            <h1>HEADING</h1>
                            <br>     
                       </div> 
                </div>
                
                <section class="pics">
                        <img src="assets/img/get-started/3.webp" alt="" class=" img-responsive">
                        <img src="assets/img/get-started/7.png" alt="" class=" img-responsive">
                        <img src="assets/img/get-started/9.png" alt="" class=" img-responsive">
                        <img src="assets/img/get-started/5.webp" alt="" class=" img-responsive">

                </section>
                <h5 class="tagline">EASY DRINK :: TASTY FARE</h5>
            </div>
        </div>
</div><br><br>

<div class="container-fluid" >
    <div class="container">
        <div class="row">
            
                <select  name="CountryCode" id="CountryCode" class="countrydropdown">
                    <option value="INDIA" class="default"> 
                        <span><img src="assets/img/get-started/2.png" alt=""></span>
                    +91</option>   
                </select>
            <input type="number"  id="number" class="numberinput">
        </div>
    </div>
</div>
<br><br>

<div class="container-fluid">
        <div class="container" style="padding: 0px;">
            <div class="row"> 
                <nav class="navbar navbar-expand-lg navbar-light footer ">
                    <div>
                      <button href=""  [routerLink]="['/product']" class="footer-button" id="getstartbutton" > > > Get Started</button>
                    </div>
                  </nav>
            </div>
        </div>
</div>

</div>
</div>


