<div class="main-outer-div">
    <div class="main-inner-div">
      <div class="container-fluid">
        <div class="container" style="padding: 0px;">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light navbar-1 ">
                    <a class="navbar-brand" href="#">Company Name</a>
                    <span class="glyphicon glyphicon-shopping-cart my-cart-icon">
                        <span class="badge badge-notify my-cart-badge"></span>
                    </span>

                </nav>
            </div>
        </div>
</div>

<div class="container-fluid" style="padding: 0px;margin-top: 7px;">
        <div class="container" style="padding: 0px">
            <div class="row" style="    width: 100%;" >
                <div class="col-xs-12 col-sm-12" style="padding:0px">
                    <img src="assets/img/get-started/9.webp" alt="" class="img img-responsive">
                </div>
                
                <table class="table" style="margin-left: 10%;
                margin-top: 4%;">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" style="padding-left: 39%;">Product</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                            <div class="product-img-container">
                            <img src="assets/img/get-started/7.png" alt="" class="product-img">
                            <div class="middle">
                                    <button class="text1" (click)="cart(1)" >Add Product</button>
                             </div>
                            </div>
                            <div>
                                <h5 class="product-text">Sandwich</h5>
                            </div>
                        </td>
                      </tr>
                      <tr>
                            <td>
                                    <div class="product-img-container">
                                    <img src="assets/img/get-started/7.png" alt="" class="product-img">
                                    <div class="middle">
                                            <button class="text1" (click)="cart(2)" >Add Product</button>
                                     </div>
                                    </div>
                                    <div>
                                        <h5 class="product-text">Sandwich</h5>
                                    </div>
                                </td>
                      </tr>

                      <tr>
                            <td>
                                    <div class="product-img-container">
                                    <img src="assets/img/get-started/7.png" alt="" class="product-img">
                                    <div class="middle">
                                            <button class="text1" (click)="cart(3)" >Add Product</button>
                                     </div>
                                    </div>
                                    <div>
                                        <h5 class="product-text">Sandwich</h5>
                                    </div>
                                </td>
                      </tr>
                    </tbody>
                  </table>
            
            </div>
        </div>
</div><br>


<div class="container-fluid">
        <div class="container" style="padding: 0px;">
            <div class="row"> 
                <nav class="navbar navbar-expand-lg navbar-light footer ">
                    <div>
                      <!-- <button href="" class="footer-button" [routerLink]="['/cart']" >>> > To Cart</button> -->
                      <button href="" class="footer-button" (click)="productids()" >>> > To Cart</button>
                    </div>
                  </nav>
            </div>
        </div>
</div>

</div>
</div>