.w3-row:before
{
    content: "";
    display: table;
    clear: both;
}

.homepage  {
    margin: 0 0 0px;
}

.banner .flexslider.home-banner-slider{
    margin: 0 0 0px;
}

.flexslider {
    margin: 0 0 60px;
    position: relative;
    zoom: 1;
    padding: 0;
    border-radius: 4px;
}

.homepage .banner .home-banner-slider .top-logo {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.top-logo img {
    width: 270px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.discover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding: 16px 30px;
    box-sizing: border-box;
    background: #e0f3f1;
    font-size: 12px;
    bottom: 39px;
    letter-spacing: 2px;
    text-align: center;
}

.discover-text
{
    text-decoration:none;
    color:#202020;
}

.slider {
    zoom: 1;
     padding: 0px;
}

.flex-viewport{
    position: absolute;
}

h4{
  
    font-size: 24px;
    letter-spacing: 2px;
    font-family: Avenir-Light;
    font-weight: 600 !important;
    line-height: 32px;
}

.mob-banner {
    display: none;
  }
  
  @media only screen and (max-width: 760px) {
    .desk-banner{
      display: none!important;
    }
    .mob-banner {
      display: block!important;
      height: 624px;    width: 483px;
    }
  }

/*text over slider starts*/
  .content-desk-1
  {
    text-align: left;
    bottom: 100px;
    left: 88px;color: black;
  }

  .content-desk-2
  {
    text-align: left;
    bottom: 100px;
    left: 727px;
  }

  .content-desk-3
  {
    text-align: left;
    bottom: 294px;
    left: 88px;
    color: white;
  }

 /*text over slider ends*/

 

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;

  }



  /*header*/
.navbar
 {
    font-weight: 500;
    outline: none;
    color: black;
    text-decoration: none;
    padding: 0px 10px;
}

#a
{
    width: 100%;
    height: 45px;
    padding: 0px 15px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
}

#header-main
{
    height: 48px;
    margin-top: 608px;
}

#a a
{
    background-color: transparent;
}

#a img
{
    width:130px; 
    height:18px;
}

.header-text
{
    padding: 13px 30px;
    box-sizing: border-box;
    background:#7ACDC8;
    font-size: 14px;
    color: #FFFFFF!important;
    letter-spacing: 1.23px;
    font-weight: 400;
    text-transform: uppercase;
}

#navbarNav
{
    padding-top: 16px;
    background-color: white;
}

/*its time for wallpaper */
.atext 
{
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: #202020;
    letter-spacing: 0.5px;
    line-height: 30px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    height: 0px;
    box-sizing: border-box;
}

#chair-image
{
    width:455px;
}
p .side-heading {
    font-family: 'Avenir-Light';
    font-size: 28px;
    color: #202020;
    margin-bottom: 10px;
    display: inline-block;
}

.mobile-pic{
    display: none;
}

.desktop-pic img
{
    padding: 50px;
     width:1329px;
}


.wallpaper1
{
    position: relative;
}

.desktop-pic
{
    display: block;
}

  
  @media only screen and (max-width: 760px) {
    .desktop-pic{
      display: none!important;
    }
    .mobile-pic {
      display: block!important;
    }
  }

 .wallpaper1 .content {
    position: absolute;
    top: 50%;
    left: 51%;
    width: 30%;
    transform: translate(-50%, -45%);
    -ms-transform: translate(-50%, -45%);
}

.wallpaper1 .side-heading {
    font-family: 'Avenir-Light';
    font-size: 28px;
    color: #202020;
    margin-bottom: 14px;
    display: inline-block;
}

.content p
{
    padding: 0px 21px;
}






/* design collection */
 .container{
    width:363px;
    height: 400px;
    position: relative;
    padding:0px;
}

.design-main
{
    padding: 0px 20px;
}

.desgin-heading
{
    text-align: center; font-size: 24px; letter-spacing: 1px;font-weight: 400;margin-bottom: 33px;
}

#design-image
{
    width:363px; height:400px;
}

.overlay
{ 
    width: 363px;
    height: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
  
    background:rgba(122,205,200,0.8);

}

.container:hover > .overlay{
    height: 100%;
    display: block;
    transform-origin: bottom;
}

.text
{
    color: #ffff;
    background-color: rgb(03 31 31 / 1%);
    font-size: 18px;
    height: 34px;
    width: 112px;
    position: absolute;
    transform: translate(133px,187px);
    border: 1px solid #fff;
}

.text h3
{
    padding: 0px;margin:0px;font-size:20px;text-align: center;
}

.heading-design h5
{
    text-align: center;
    font-weight: 300;
      padding: 7px;
      font-size: 15px;
}



/* desktop-wallpaper css*/

.wallpaper-item {
    background-position: center top 20px;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    padding: 60px 41px 18px;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    background-color: #fff;
    cursor: pointer;
    width:175px;
   
}

#bordercurve {
    border-radius: 11px 0px 0px 11px;
}




/* mobile-wallpaper css*/

.w3-center {
    text-align: center!important;
}
.homepage .heading h2 {
    font-style: normal;
}
.heading h2 {
    font-family: Avenir-Light;
    font-size: 28px;
    color: #202020;
    letter-spacing: 0.83px;
    text-align: center;
    line-height: 38px;
    font-weight: normal;
}
.w3-content {
    max-width: 980px;
    margin: auto;
}
.homepage .why-wallpaper .wallpaper-item .sub-heading {
    background-position: left 15px top 15px;
    background-repeat: no-repeat;
    padding: 15px 10px;
    background-color: rgb(248, 238, 225);
    font-size: 12px;
    font-family: Avenir-Light;
    color: #202020;
    letter-spacing: 0.83px;
    box-sizing: border-box;
    transition: all 0.0s ease;
}
.sub-heading h4 {
    font-family: Avenir-Light!important;
    font-size: 11px;
    color: #202020;
    letter-spacing: 2.4px;
    font-weight: normal!important;
}


.mobile-wallpaper{
  display:none;
}
.desktop-wallpaper{
  display: block!important;
}

@media only screen and (max-width: 760px) {
  .desktop-wallpaper{
    display: none!important;
  }
  .mobile-wallpaper {
    display: block!important;
  }
}





/* bottom slider icon css */

.icon-bottom-prev
{
    background-position-x: 10px;
    background-position-y: 17px;
    background-size: 18px;
    background-image: url('https://stenna.in/wp-content/themes/stenna/img/left.png');
    margin-right: -12px;
    
    background-color: #7ACDC8;width: 40px; height: 70px;
    background-repeat: no-repeat;
}

.icon-bottom-next
{
    background-position-x: 10px;
    background-position-y: 17px;
    background-size: 18px;
    background-image: url('https://stenna.in/wp-content/themes/stenna/img/right.png');
    margin-left: -12px;
    
    background-color: #7ACDC8;width: 40px; height: 70px;
    background-repeat: no-repeat;
}


.half-image
{
    width:310px;
    height: 146.25px;
    position: relative;
    padding:0px;
}


.half-image-hover
{

    width: 310px;
    height: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
  
    background:rgba(122,205,200,0.8);

}


.half-image:hover > .half-image-hover{
    height: 100%;
    display: block;
    transform-origin: bottom;
}

.half-image-text
{
    color: #ffff;
    background-color: rgb(03 31 31 / 1%);
    font-size: 10px;
    height: 34px;
    width: 130px;
    position: absolute;
    transform: translate(91px,45px);
    border: 1px solid #fff;
}


/* FOOTER CSS */

.footer-container-fluid
{
    padding:40px 20px;box-sizing: border-box; background-color: #E3F3F1
}

.footer-row
{
    height:39px
}

.footer-row-list
{
    display:inline;
}

.footer-row-list ul
{
    list-style: none;
}

.footer-row-list li
{
    padding:10px;display: inline;
}

.footer-row-list li a
{
    text-decoration: none;color: black;font-size: 11px;letter-spacing: 2px;
              font-weight: lighter;
}

.footer-side
{
    text-decoration: none;color: black;font-size: 11px;letter-spacing: 2px;
          font-weight: lighter;text-align: center;
          height: 39px;
          margin-top: 15px;
}



/* BLOG CSS */

/* blog main heading */
/* .blog
{
    text-align: center; font-size: 28px; letter-spacing: 1px;font-weight: 400;margin-bottom: 33px;
}

.blog1
{
    width: 416.333px;margin-right: 0px;float: left;display:block; 
}

.blog2
{
    margin: 0px 20px; border: 30px solid #F8EEE1;box-sizing: border-box;cursor:pointer; width: 370px
}

.blog2 div
{
    padding: 50px;
}

.blog2 h5
{
    font-size: 26px;padding: 0px 21px;
}

.subname
{
    font-size: 20px
}

.half-image img 
{
    width:310px;
}

.half-image-text a{
    padding: 0px;margin:0px;text-align: center;    font-size: 18px;
                        line-height: 30px;
} */